.table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: left;
}
.table tbody tr:nth-child(odd){
	background: #fff;
}
.table tbody tr:nth-child(even){
	background: #F7F7F7;
}
body {
  background: #000000 url(https://images2.alphacoders.com/672/672793.jpg);
  color: #FFF

}
.btn {
  text-decoration: none;
display: inline-block;
margin: 10px 20px;
padding: 15px 30px;
overflow: hidden;
border: 2px solid;
border-bottom-width: 4px;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 2px;
color: rgba(30, 255, 188, 1);
background: rgba(255, 255, 255, 1);
transition: color .3s, background .5s;
}
.btn:hover {
  animation: stripes .75s infinite linear;
   background: linear-gradient(45deg, rgba(30, 255, 188, 1) 25%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(30, 255, 188, 1) 50%, rgba(30, 255, 188, 1) 75%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1));
   background-size: 10px 10px;
   color: #FF50E5;
}
